
.center {
  margin: auto;
  width: 80%;

  padding: 10px;
}

#equation{
  font-size: 15vh;
}

#top{
  display: block;
  text-align: right;
}
#operator{
  display: inline-block;
}
#bottom{
  display: inline-block;
  float:right;
}

#answer{
  margin-top: 10px;
  font-size: 15vh;
  width: 100%;
  box-sizing:border-box;
  text-align: right;
  border: 1px solid black;
}
#next{
  margin-top: 10px;
  width: 100%;
  color:white;
  background: green;
  font-size: 10vh;
  height: 14vh;

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
